<nav ngxNavbarDynamicExpand class="navbar-dark fixed bg-dark" style="margin-bottom: 50px;">
  <a class="navbar-brand" href="#">
    <img src="https://media.discordapp.net/attachments/510531120568467456/1046940379255156866/image.png?width=506&height=480" width="40" height="40" class="d-inline-block align-text-top">
    GamaLOL
  </a>
  <button class="navbar-toggler" type="button" (click)="collapse.toggle()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ngx-navbar-collapse #collapse="ngxNavbarCollapse">
    <ul class="navbar-nav nav-pills mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" routerLinkActive="active" aria-current="page" routerLink="/homepage">Anasayfa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" routerLinkActive="active" routerLink="/champions">Şampiyonlar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" routerLinkActive="active" routerLink="/statistics">İstatistikler</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" routerLinkActive="active" routerLink="/toplist">Sıralama</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" routerLinkActive="active" routerLink="/comps">Komplar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" routerLinkActive="active" routerLink="/patches">Yama Notları</a>
      </li>
    </ul>
  </ngx-navbar-collapse>
</nav>
