<nav ngxNavbarDynamicExpand class="navbar-dark fixed bg-dark" >
  <a class="navbar-brand" routerLink="/homepage">
    <img src="https://media.discordapp.net/attachments/510531120568467456/1046940379255156866/image.png?width=506&height=480" width="40" height="40" class="d-inline-block align-text-top">
    GamaLOL
  </a>
  <button class="navbar-toggler" type="button" (click)="collapse.toggle()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ngx-navbar-collapse #collapse="ngxNavbarCollapse">
    <ul class="navbar-nav nav-pills mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" routerLinkActive="active" aria-current="page" routerLink="/homepage">Homepage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" routerLinkActive="active" routerLink="/champions">Champions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" routerLinkActive="active" routerLink="/statistics">Statistics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" routerLinkActive="active" routerLink="/ranklist">Rank List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" routerLinkActive="active" routerLink="/comps">Comps</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" href="https://dosya.co/1v8yup0ua55u/GamaLOL_v1.7.rar.html" target=_blank>Download</a>
      </li>
    </ul>
  </ngx-navbar-collapse>
</nav>
