<div class="container bg-dark text-light">
    <app-navbar></app-navbar>
    <h1>{{name}}</h1>
    <p>Roles: {{champSpecs.roles}}</p>
    <p>Kills: {{champSpecs.kill}}</p>
    <p>Deaths: {{champSpecs.death}}</p>
    <p>Assists: {{champSpecs.assist}}</p>
    <p>WinRate: {{champSpecs.winRate}}</p>
    <p>PickRate: {{champSpecs.pickRate}}</p>
    <p>Items: {{champSpecs.items}}</p>
    <p>Runes: {{champSpecs.runes}}</p>
    <p>Stronger Than: {{champSpecs.strongerThan}}</p>
    <p>Weaker Than: {{champSpecs.weakerThan}}</p>
    <p>Best Players: </p>
</div>
