<div style="width: 100%;" class="container bg-dark text-light">
  <router-outlet></router-outlet>
  <div style="position: sticky; top: 0;" #stickyies>
    <app-navbar ></app-navbar>
    <div class="container bg-dark" #selectBox>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label class="text-light">Summoner Name</mat-label>
        <mat-placeholder class="placeholder">Search</mat-placeholder>
        <input matInput placeholder="Enter Summoner Name" value="sumNick" [(ngModel)]="sumNick" #nickVal>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="text-light">Server</mat-label>
        <mat-select  [disableOptionCentering]="true" placeholder="Choose Server" [(ngModel)]="sumServer" #serverVal>
          <mat-option value="tr1">Turkey</mat-option>
          <mat-option value="euw1">Europe West</mat-option>
          <mat-option value="eun1">Europe Nordic & East</mat-option>
          <mat-option value="na1">North America</mat-option>
          <mat-option value="kr">Korea</mat-option>
          <mat-option value="ru">Russia</mat-option>
          <mat-option value="br1">Brazil</mat-option>
          <mat-option value="jp1">Japan</mat-option>
          <mat-option value="la1">Latin America North</mat-option>
          <mat-option value="la2">Latin America South</mat-option>
          <mat-option value="oc1">Oceania</mat-option>
        </mat-select>
      </mat-form-field>
      <!--<button mat-raised-button color="primary" (click)="summonerFind(nickVal.value, serverVal.value)">SEARCH!</button>-->
      <app-cumba-button mat-raised-button (onClick)="summonerFind(nickVal.value, serverVal.value)" [type]="'primary'"></app-cumba-button>
    </div>
  </div>

  <div *ngIf="sumVar">
    <div style="overflow:auto; display: block ; border-radius: 0.5vw; height: 10%; background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_11.jpg')">
      <img src="{{sumIcon}}" style="height: 10%; width: 10%; float: left;">
      <div style="float: left;" nameLvl>
        <br>
        <h1 style="display: inline;"><b>{{summoner.name}}</b></h1>
        <br>
        <br>
        <h3 style="display: inline;"><i>{{summoner.summonerLevel}} Level</i></h3>
      </div>
      <img src="{{soloqUrl}}" style="height: 8%; width: 14%; float: right"><br><p style="clear: right; float: right; padding-right: 40px;">{{soloq[0]}} {{soloq[1]}}</p>
    </div>

    <div style="width: 65%; float: left;" *ngIf="macVar; else elseBlock1">
      <ng-container  *ngFor="let match of matches">
          <app-matchcont (newItemEvent)="summonerFind($event, sumServer)" [summonerObj]="summoner" [matchId]="match"></app-matchcont>
      </ng-container>
      <button (click)="moreMatches()"></button>
    </div>
    <ng-template #elseBlock1>Bu sihirdar için maç geçmişi bulunamadı.</ng-template>
    <app-leaguebox style="display: inline; width: 35%; float: right;" [summonerObj]="summoner" [soloqUrlLb]="soloqUrl"></app-leaguebox>

    <div style="width: 65%; float: left;" *ngIf="moreMacVar && macMin!=0; else elseBlock2">
      <ng-container  *ngFor="let match of matches">
          <app-matchcont (newItemEvent)="summonerFind($event, sumServer)" [summonerObj]="summoner" [matchId]="match"></app-matchcont>
      </ng-container>
    </div>
    <ng-template #elseBlock2>Bu sihirdar için daha fazla maç geçmişi bulunamadı.</ng-template>

  </div>
</div>
