<div style="width: 100%" class="container bg-dark text-light">
  <router-outlet></router-outlet>
  <div class="bg-dark" style="position: sticky; top: 0" #stickyies>
    <app-navbar ></app-navbar>

    <h2><b>Enter Summoner</b></h2>
    <div class="container text-center" #selectBox>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label class="text-light">Summoner Name</mat-label>
        <mat-placeholder class="placeholder">Search</mat-placeholder>
        <input matInput placeholder="Enter Summoner Name" value="sumNick" [(ngModel)]="sumNick" #nickVal>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="text-light">Server</mat-label>
        <mat-select  [disableOptionCentering]="true" placeholder="Choose Server" [(ngModel)]="sumServer" #serverVal>
          <mat-option value="tr1">Turkey</mat-option>
          <mat-option value="euw1">Europe West</mat-option>
          <mat-option value="eun1">Europe Nordic & East</mat-option>
          <mat-option value="na1">North America</mat-option>
          <mat-option value="kr">Korea</mat-option>
          <mat-option value="ru">Russia</mat-option>
          <mat-option value="br1">Brazil</mat-option>
          <mat-option value="jp1">Japan</mat-option>
          <mat-option value="la1">Latin America North</mat-option>
          <mat-option value="la2">Latin America South</mat-option>
          <mat-option value="oc1">Oceania</mat-option>
        </mat-select>
      </mat-form-field>
      <app-buttoncomp mat-raised-button (onClick)="sumUpdate(nickVal.value, serverVal.value)" [type]="'primary'">
      </app-buttoncomp>

      <app-sum-box *ngIf="changed" [nick]="sumNick" [sv]="sumServer"></app-sum-box>
    </div>
  </div>
</div>
