::ng-deep .mat-select-arrow {
  color: white!important;
}

::ng-deep .mat-select-value{
  color: white!important;
}

::ng-deep .mat-input-element::placeholder{
    color: darkred!important;
}

::ng-deep .mat-select-element::placeholder{
  color: darkred!important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: lightblue !important;
}
