.champBox {
  display: table;
  margin-right: auto;
  margin-left: auto;
}
::ng-deep .mat-select-value{
  color: white!important;  }

::ng-deep .mat-input-element::placeholder{
    color: red!important;
}

::ng-deep .mat-select-element::placeholder{
  color: red!important;
}
