<div class="container">
  <div class="form-group">
    <h1 class="text-center text-success">{{summoner.name}}</h1>
    <div class="card input-group-prebend">
      <div class="card-body">
        <input type="text" class="form-control" placeholder="Nick" name="nick" [(ngModel)]="sumNick"/>
        <mat-form-field appearance="fill">
          <mat-label>Server</mat-label>
          <select matNativeControl required [(ngModel)]="sumServer">
            <option value="tr1">Turkey</option>
            <option value="euw1">Europe West</option>
            <option value="eun1">Europe NE</option>
            <option value="jpn1">Japan</option>
          </select>
        </mat-form-field>
        <input type="button" class="btn btn-info" (click)="summonerFind()" value="Summoner" />
        <input type="button" class="btn btn-info" (click)="masteryFind()" value="Mastery" />
        <input type="button" class="btn btn-info" (click)="matchesFind()" value="Matches" />
        <input type="button" class="btn btn-info" (click)="matchDetailFind()" value="Match Detail" />
        <input type="button" class="btn btn-info" (click)="activeMatchFind()" value="ActiveMatch"/>
        <input type="text" class="form-control" placeholder="Match Id" name="matchId" [(ngModel)]="matchId"/>
      </div>
      <p>Summoner Response: {{summoner.id}}</p>
      <p *ngIf="summoner.champMasteries">Mastery Response: {{champNameTemporary}}</p>
      <p>Matches Response: {{matches}}</p>
      <p>Match Detail: {{match}}</p>
      <p>Active Match Detail: {{summoner}}</p>
    </div>
  </div>
  <ng-container *ngFor="let match of matches">
    <app-child [message]="match"></app-child>
  </ng-container>
</div>
