<div style="width: 100%" class="container bg-dark text-light">
    <app-navbar></app-navbar>
    <h2><b>Statistics Of Champions</b></h2>

    <table style="width: 100%" mat-table [dataSource]="champStatsMTDS" matSort #sortyy="matSort" class="mat-elevation-z8">

      <ng-container matColumnDef="champName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Champion Name</th>
        <td mat-cell *matCellDef="let element">
          <img src='{{imgUrlVersion}}champion/{{element.champName}}.png' width="30" height="30" title="{{element.champName}}">{{element.champName}}</td>
      </ng-container>

      <ng-container matColumnDef="kill">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Kill</th>
        <td mat-cell *matCellDef="let element">{{+element.kill.toFixed(1)}}</td>
      </ng-container>

      <ng-container matColumnDef="death">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Death</th>
        <td mat-cell *matCellDef="let element">{{+element.death.toFixed(1)}}</td>
      </ng-container>

      <ng-container matColumnDef="assist">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Assist</th>
        <td mat-cell *matCellDef="let element">{{+element.assist.toFixed(1)}}</td>
      </ng-container>

      <ng-container matColumnDef="farm">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CS/Minute</th>
        <td mat-cell *matCellDef="let element">{{+element.farm.toFixed(1)}}</td>
      </ng-container>

      <ng-container matColumnDef="gold">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gold/Minute</th>
        <td mat-cell *matCellDef="let element">{{+element.gold.toFixed(1)}}</td>
      </ng-container>

      <ng-container matColumnDef="matchCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Matches</th>
        <td mat-cell *matCellDef="let element">{{element.matchCount}}</td>
      </ng-container>

      <ng-container matColumnDef="pickRate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pick Rate</th>
        <td mat-cell *matCellDef="let element">%{{+element.pickRate.toFixed(1)}}</td>
      </ng-container>

      <ng-container matColumnDef="winRate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Win Rate</th>
        <td mat-cell *matCellDef="let element">%{{+element.winRate.toFixed(1)}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="dChampColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: dChampColumns;"></tr>
    </table>

</div>
