<div class="container bg-dark">
  <li class="matchCard" style="border-radius: 0.3em; margin-bottom: 0.3em;" [ngStyle]="didWin? {'border': '0.3em solid','border-color': 'darkgreen'} : {'border': '0.3em solid','border-color': 'darkred'}">
    <div  #game [ngStyle]="didWin? {'background-color': 'darkgreen'} : {'background-color': 'darkred'}">
      <p *ngIf="queueType!='Ranked'">{{match.metadata?.matchId}} => {{queueType}}({{minSec}}) - {{date}}</p>
    </div>
    <div class="row g-0" #matcRow>
      <div class="col-sm-1 my-auto" #Runes>
        <img #runesIcon1 src="{{priRuneIcon}}" width="30" height="30">
        <br>
        <img #runesIcon2 src="{{secRuneIcon}}" width="30" height="30">
      </div>

      <div class="col-sm-1 my-auto" #Spells>
        <img #sumChampIcon src="{{spellDIcon}}" width="30" height="30" >
        <br>
        <img #sumChampIcon src="{{spellFIcon}}" width="30" height="30">
      </div>

      <div class="col-sm-1 my-auto" #ChampionIcon>
        <img #sumChampIcon src="{{imgUrlVersion}}champion/{{particiSum?.championName}}.png" width="60" height="60" >
      </div>

      <div class="col-sm-1 my-auto" style="font-size: larger;" #ChampLevel>
        {{particiSum?.champLevel}}
      </div>

      <div class="col-sm-3 my-auto" #KdaGoldItems>
        <div #KDA>
          KDA: {{particiSum?.kills}}-{{particiSum?.deaths}}-{{particiSum?.assists}} Minions: {{particiSum?.totalMinionsKilled}} Gold: {{particiSum?.goldEarned}}
        </div>
        <div #items style="display: inline;" *ngFor="let itemIcon of itemsIcon">
          <img src="{{itemIcon}}" width="30" height="30">
        </div>
      </div>

      <div class="col-sm-4 teamsCss my-auto">
        <div #BlueTeam *ngFor="let player of blueTeam">
          <img [ngStyle]="player.summonerName == summonerObj.name?{'border': '2px solid', 'border-color':'white'}:{'border': '1px solid', 'border-color':'black'}" src="{{imgUrlVersion}}champion/{{player.championName}}.png" width="30" height="30"> {{player.summonerName}}
        </div>

        <div #RedTeam *ngFor="let player of redTeam">
          <img [ngStyle]="player.summonerName == summonerObj.name?{'border': '2px solid', 'border-color':'white'}:{'border': '1px solid', 'border-color':'black'}" src="{{imgUrlVersion}}champion/{{player.championName}}.png" width="30" height="30"> {{player.summonerName}}
        </div>
      </div>
    </div>
</div>
