<div class="container col-10 mt-5">
  <div class="row align-items-center" #matchRow>
    <div class="col-sm-2">
      <div class="row">
        <div class="col-sm1">asdada</div>
      </div>

      <div class="col-sm-4 teamsCss" style="font-size: 0.6em;">
        <div #BlueTeam *ngFor="let player of blueTeam">
          <div>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/How_to_use_icon.svg/1107px-How_to_use_icon.svg.png"
              width="20"
              height="20"
              title="{{ player }}"
            />
            {{ player }}
          </div>
        </div>

        <div #RedTeam *ngFor="let player of redTeam">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/How_to_use_icon.svg/1107px-How_to_use_icon.svg.png"
            width="20"
            height="20"
            title="{{ player }}"
          />
          {{ player }}
        </div>
      </div>
    </div>
  </div>
</div>
