<div *ngIf="matchBoxLoaded">
  <li class="matchCard" style="border-radius: 0.3em" [ngStyle]="didWin? {'border': '0.3em solid','border-color': 'darkgreen'} : {'border': '0.3em solid','border-color': 'darkred'}">
    <div  #game [ngStyle]="didWin? {'background-color': 'darkgreen'} : {'background-color': 'darkred'}">
      <p *ngIf="queueType!='Ranked'">{{match.metadata?.matchId}} => {{queueType}}({{minSec}}) - {{date}}</p>
    </div>
    <div class="row align-items-center" #matchRow>
      <div class="col-sm-1"  #Runes>
        <img #runesIcon1  src="{{priRuneIcon}}" width="25" height="25" title="{{priRuneTitle}}">
        <br>
        <img #runesIcon2  src="{{secRuneIcon}}" width="25" height="25" title="{{secRuneTitle}}">
      </div>

      <div class="col-sm-1"  #Spells>
        <img #sumChampIcon  src="{{spellDIcon}}" width="25" height="25" title="{{spellDTitle}}">
        <br>
        <img #sumChampIcon  src="{{spellFIcon}}" width="25" height="25" title="{{spellFTitle}}">
      </div>

      <div class="col-sm-1 "  #ChampionIcon>
        <img #sumChampIcon  src="{{imgUrlVersion}}champion/{{particiSum?.championName}}.png" width="60" height="60" title="{{particiSum?.championName}}">
      </div>

      <div class="col-sm-1 "  style="font-size: larger;" #ChampLevel>
        <p >{{particiSum?.champLevel}}</p>
      </div>

      <div class="col-sm-3"  #KdaGoldItems>
        <p class="row">KDA: {{particiSum?.kills}}-{{particiSum?.deaths}}-{{particiSum?.assists}}</p><p class="row">Minions: {{particiSum?.totalMinionsKilled}}</p><p class="row">Gold: {{particiSum?.goldEarned}}</p>
        <div class="row">
          <div #items class="col-sm-1" *ngFor="let itemIcon of itemsIcon">
            <img  src="{{itemIcon}}" width="20" height="20">
          </div>
        </div>
      </div>

      <div class="col-sm-4 teamsCss" style="font-size: 0.6em;" >
        <div  #BlueTeam *ngFor="let player of blueTeam">
          <img class='col-auto' [ngStyle]="player.summonerName == summonerObj.name?{'border': '2px solid', 'border-color':'white'}:{'border': '1px solid', 'border-color':'black'}" src="{{imgUrlVersion}}champion/{{player.championName}}.png" width="20" height="20" title="{{player.championName}}"><p class='col'>{{player.summonerName}}</p>
        </div>

        <div class="row"  #RedTeam *ngFor="let player of redTeam">
          <img class='col-auto' [ngStyle]="player.summonerName == summonerObj.name?{'border': '2px solid', 'border-color':'white'}:{'border': '1px solid', 'border-color':'black'}" src="{{imgUrlVersion}}champion/{{player.championName}}.png" width="20" height="20" title="{{player.championName}}"><p class='col'>{{player.summonerName}}</p>
        </div>
      </div>
    </div>
  </li>
</div>
